/* -----
SVG Icons - svgicons.sparkk.fr
----- */

*{
  text-align: center;
}

button{
  background: transparent;
  border: none;
}

ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

li{
  background-color: aquamarine;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
}

a{
  text-decoration: none;
  margin: auto;
}

.pagination{
  width: 100%;
  /* display: inline; */
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}