*{
  text-align: center;
}

.app{
  width: 95%;
  height: 100%;
  margin: auto;
  padding: 20px 0px;

}

.search{
  width: 100%;

}

.delete-button{
  background-color: rgb(255, 78, 78);
  border: 1px solid red;
  padding: 15px 50px;
  border-radius: 50px;
  color: white;
}

.temp-button{
  visibility: hidden;
  padding: 10px 20px;

}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button{
  background: transparent;
  border: none;
}

ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

li{
  background-color: white;
  border: 1px solid grey;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
}

.active{
  background-color: black;
  border: 1px solid black;
}

.active>a{
  color: white;
}

a{
  text-decoration: none;
  margin: auto;
}

.pagination{
  width: 100%;
  /* display: inline; */
}


table{
  width:100%;
  border: 1px solid grey;
  border-collapse: collapse;
}

tr{
  border: 1px solid grey;
  height: 32px;
}

.selected{
  background-color: rgb(175, 175, 175);
}

.search>input{
  width: 100%;
  margin: auto;
  height: 40px;
  border-radius: 50px;
  border: 1px solid grey;
}

.search{
  padding: 20px 0px;
}


.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}